.btn-inline {
  font-size: inherit;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding: 5px 2px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  outline: none;
  transition: all 0.2s;

  span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 0.8rem;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
