%btn-placeholder {
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  &:focus {
    outline: none;
  }
}

.btn {
  &-inline {
    @extend %btn-placeholder;

    color: var(--color-primary);
    border-bottom: 1px solid currentColor;
    padding: 5px 2px;
    display: inline-block;
    transition: all 0.2s;

    span {
      margin-left: 3px;
      transition: margin-left 0.2s;
    }

    &:hover {
      color: var(--color-grey-dark-1);
      span {
        margin-left: 0.8rem;
      }
    }

    &:focus {
      animation: pulsate 1s infinite;
    }
  }

  &--rounded {
    border-radius: 100px;
  }

  @include respond(medium) {
    &-reviews {
      align-self: center;
    }
  }

  &-switching-text {
    @extend %btn-placeholder;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    background-image: linear-gradient(
      105deg,
      var(--color-primary-dark),
      var(--color-primary-light)
    );

    position: relative;
    overflow: hidden;

    &__visible,
    &__hidden {
      display: inline-block;
      width: 100%;
      height: 100%;
      transition: all 0.2s;
    }

    &__visible {
      padding: 2rem 7.5rem;
    }

    &__hidden {
      padding: 2rem 0;
      position: absolute;
      top: -110%;
      left: 0;
    }

    &:hover {
      background-image: linear-gradient(
        -105deg,
        var(--color-primary-dark),
        var(--color-primary-light)
      );
    }

    &:hover &__visible {
      transform: translateY(4.5rem);
    }

    &:hover &__hidden {
      top: 0;
    }

    &:focus {
      animation: pulsate 1s infinite;
    }
  }
}
