.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__title {
    padding: 1.5rem 3rem;
    font-weight: 300;
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include respond(medium) {
      font-size: 1.8rem;
      padding: 1rem 1.5rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    fill: var(--color-primary);
    width: 1.75rem;
    height: 1.75rem;

    @include respond(medium) {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &__icon-star {
    transition: fill 0.2s;

    &:hover,
    &:focus {
      fill: var(--color-primary-light);
      cursor: pointer;
    }
  }

  &__location {
    font-size: 1.2rem;
    color: var(--color-primary);
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin: 0 0.5rem;
  }

  &__rating {
    align-self: stretch;

    color: var(--color-grey-light-1);
    background-color: var(--color-primary);
    padding: 0 2.25rem;
    margin-left: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(medium) {
      padding: 0 1.5rem;
      margin-left: 2rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @include respond(medium) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;

    @include respond(medium) {
      font-size: 0.6rem;
    }
  }
}
