.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav {
  list-style: none;
  margin-top: 3.5rem;
  font-size: 1.4rem;

  @include respond(small) {
    font-size: 1.2rem;
    margin-top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @include respond(small) {
        margin-bottom: 0;
      }
    }

    @include respond(small) {
      flex: 1;
    }

    position: relative;

    &::before {
      content: "";
      height: 100%;
      width: 3.5px;
      background-color: var(--color-primary);
      position: absolute;

      top: 0;
      left: 0;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1),
        background-color 0.2s;
      z-index: 1;

      @include respond(small) {
        width: 100%;
        transform: scaleX(0);
      }
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;

    @include respond(small) {
      transform: scaleX(1);
      height: 100%;
    }
  }

  &__link:active,
  &__link:visited,
  &__link {
    padding: 1.5rem 3rem;

    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    align-items: center;

    position: relative;
    z-index: 2;

    @include respond(small) {
      flex-direction: column;
      padding: 1rem 1.5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1.5rem;
    fill: currentColor;

    @include respond(small) {
      margin-right: 0;
      margin-bottom: 0.7rem;
    }
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-3);
  padding: 2.5rem;
  text-align: center;

  @include respond(small) {
    display: none;
    visibility: hidden;
  }
}
