.container {
  background-color: #fff;
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-x);

  @include respond(x-large) {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}

.content {
  display: flex;

  @include respond(small) {
    flex-direction: column;
  }
}

//Details section general layout
.details {
  display: flex;
  background-color: var(--color-grey-light-2);
  padding: 4.5rem;

  justify-content: space-between;
  border-bottom: var(--line);
  font-size: 1.4rem;

  @include respond(large) {
    padding: 3rem;
  }

  @include respond(medium) {
    flex-direction: column;
  }
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(medium) {
    align-items: stretch;
  }
}
