.container {
  background-color: #fff;
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-x);
}

.content {
  display: flex;
}

//Details section general layout
.details {
  display: flex;
  background-color: var(--color-grey-light-2);
  padding: 4.5rem;

  justify-content: space-between;
  border-bottom: var(--line);
  font-size: 1.4rem;
}

.user-reviews {
  flex: 1;
}
